extends layout

block content
    div(class='container')
        div(class="page-header")
            h1 PoESales
        p(class='lead')  Tired of missing sales? Register your email with us and we'll remind you of every sale!
    div(class="login-wrap")
        h2 Registration Form
        div(class="form")
            input(type="text", placeholder="email", name="email")
            button(id="regButton") Register
    //<input type="password" placeholder="Password" name="pw" />
    link(rel='stylesheet', href='/stylesheets/form.css')
