doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    center
      div(class='container')
        div(class="page-header")
          h1
            a(href="/") PoESales
      block content
    footer
      p
        small PoeSales - Want to stop receiving emails? Unregister
          a(href="/unregister")  here
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/poesales.js')
