extends layout

block content
    div(class="login-wrap")
        h2 Unregister Form
        div(class="unregisterForm")
            input(type="text", placeholder="email", id="unregemail", name="email")
            button(id="unregButton") Unregister
    link(rel='stylesheet', href='/stylesheets/form.css')
